body {
  padding-top: 4.5rem;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
.img-div{
  display: flex;
  flex-direction: row;
  max-width: 600px;
}
.first{
  max-width: 50%;
}
.second{
  max-width: 50%;
}